* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    min-width: 600px;
}

body {
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: black;
}

br {
    display: block;
}

h1,
h2,
h3 {
    font-weight: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

div#countdown ul li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

div#countdown ul li span {
    display: block;
    font-size: 4.5rem;
}

p {
    padding: 10px;
}

ol {
    padding-left: 35px;
    padding-bottom: 10px;
}
ol li {
    list-style-type: decimal;
}

a,
a:visited,
a:hover {
    color: black;
}

input {
    height: 41px;
    width: 600px;
    border-radius: 10px;
    padding: 0;
    padding-left: 5px;
    margin-bottom: 8px;
    font-size: 16px;
}

button {
    height: 45px;
    width: 600px;
    border-radius: 10px;
    padding: 0;
    font-size: 16px;
    background-color: #cbcbcb;
}

#headline,
#info,
#link,
#newEventContainer {
    padding: 10px;
}

#existingEventTimer {
    margin: 8px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    width: 600px;
    display: none;
}

#eventDesc {
    padding: 10px;
    background-color: #9696e2;
}

#existingEventHeader {
    padding-top: 10px;
    padding-left: 10px;
}

#existingEventTime {
    padding-bottom: 10px;
    padding-left: 10px;
}

#linkContainer {
    padding: 10px;
    display: none;
}

.container {
    color: #333;
    margin: 0 auto;
    text-align: center;
}

#newEventContainer {
    width: 600px;
}